.App {
  text-align: center;
}

h5 {
  font-size: 1rem;
}

input {
  margin-bottom: 15px;
}

.card {
  border: none;
  margin-bottom: 40px;
}

.changePhoto {
  color: transparent;
  padding: 0;
  border: none;
  margin: 0 auto;
}

.changePhoto::-webkit-file-upload-button {
  visibility: hidden;
}

.changePhoto::before {
  content: '';
  display: flex;
  background-image: url(./Components/Form/img.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 30px;
  background-size: 100%;
  margin-right: 15px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  float: left;
}

.userPic {
  color: #000;
  border-bottom: 0;
  white-space: normal;
  font-size: 0.8rem;
  width: 200px;
}

.form-control:focus{
  outline: 0;
  box-shadow: none;
}

.inputTitle{
  text-align: left;
}

.editInput{
  border-color: #deb88700;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
}

.editInput:focus{
  border-color: #deb88700;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.editInputDiv span {
  font-size: 0.9rem;
  font-weight: bold;
}

.container {
  max-width: 80%;
}
